# Ignore node_modules directory
/node_modules

# Ignore logs
/logs

# Ignore any .env files
/.env

# Ignore MacOS system files
.DS_Store

# Ignore node files like .nyc_output for coverage
.nyc_output
